<ion-header>
    <ion-toolbar color="primary">    
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="page-title">About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <p>
      The <strong><u>KeepLearn® - Keeping focus on learning</u></strong><br/> 
      is designed to help people that would like study <u>English</u>
      of a way more practical and Effective.
    </p>
    
    <p>
      Trying to do of the study moment pleasurable, 
      abstracting the logic of which of the cards should be studied more frequently.
    </p>

    <p>
      Author: Fabiano Góes - 2018/2019
    </p>

    <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
      <ion-fab-button color="primary" (click)="onHome()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>  

</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
