<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="footer">
	    <footer class="footer">
	      <div class="container">
	        <p class="text-muted pull-right">
	        	<img src="../../static/img/logo.png" th:src="@{/img/logo.png}" width="40" height="40" class="img-circle" alt="Sobre"/>
	  			<span th:text="#{system.description}" >Financial control System</span>&nbsp;
	        	<i class="fa fa-tag"></i>&nbsp;<span th:text="#{system.version}" class="badge">1.0</span>
	        </p>
	      </div>
	    </footer>
		
	</div> 
	   
</body>
</html>